<style>
 .table-container {
    max-height: 20vh;
    overflow-y: auto;
    position: relative; /* Ensure proper positioning */
}

.table-container thead {
    position: sticky;
    top: 0;
    background-color: #fff; /* Ensure the background remains white */
    z-index: 1; /* Ensure the header is above the scrollbar */
}
</style>
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ORDERID</th>
                <th scope="col">SYMBOL</th>
                <th scope="col">STATUS</th>
                <th scope="col">SIDE</th>
                <th scope="col">ACTION</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.orderId }}</td>
                    <td>{{ order.symbol }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.side }}</td>
                    <td><a href="{% url 'cancel_order' order.orderId %}">Cancel</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
