{% if request.user.is_authenticated %}
            <!-- Earnings (Annual) Card Example -->
            <div class="card">
                <div class="card-header bg-info text-white">
                    Trading Position
                </div>
                <div class="card-body">
                    <form method="POST" id="tradeForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Enter quantity" required>
                        </div>
                        <div class="form-group">
                            <label for="leverage">Leverage</label>
                            <input type="number" class="form-control" id="leverage" name="leverage" placeholder="Enter leverage" required>
                        </div>
                        <button type="button" class="btn btn-success btn-block" id="buyButton">BUY</button>
                        <button type="button" class="btn btn-danger btn-block" id="sellButton">SELL</button>
                    </form>
                </div>
            </div>
{% else %}
    <p>To be able to trade you should login or register</p>
{% endif %}